<!-- Author: Ahmed Abdullah (2025) - Clean rewrite -->
{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Leave Feedback</h2>
    <form method="GET" action="/feedback">
        <input type="text" name="name" placeholder="Your Name"></br></br>
        <textarea name="message" placeholder="Message"></textarea>
        <button type="submit">Send</button>
    </form>
</div>

<div id="response"></div>

<script>
    const params = new URLSearchParams(window.location.search);
    const name = params.get("name");
    const message = params.get("message");

    if (name) {
        document.getElementById("response").innerHTML = `<div class="alert alert-success shadow-sm rounded" style="margin-top: 20px; font-size: 1.1rem;">
        <i class="fas fa-check-circle"></i><p style="color: var(--white-color);">Thanks, ${name}! for your feedback.</p></div>`;
    }
</script>
{% endblock %}
